body{background-color: bisque;}
.header{
    background-color: antiquewhite;
    border: black solid ;
}
.information{background-color:black;}
.skills{background-color: bisque;
border: solid black;}
.futuregoals{background-color: brown;
border: solid black;}